@import "./Utils/variables";

*{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    color: #000;
}

header{
    position: relative;
    a{
        position: absolute;
        top: 10px;
        left: 20px;
    }
}

.logo{
    text-align: center;
    margin: 5px;
}

.search{
    background: darken($color-background, 5);
    text-align: center;
    font-weight: bold;
    height: 35px;    
}

.menu{
    background: $color-background;
    text-align: center;
    padding: 20px;
    h1{
        font-size: 1.2rem;
        padding: 20px 60px 10px;
    }
}

input[type="search"] {
    border: none;
}

button
{
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-size: 1rem;
    margin: 20px;
    color: #FFF;
    &:hover{
        background: linear-gradient(lighten($color-secondary,10),lighten($color-primary, 10));
    }
}

.functioning{
    &__title{
        font-size: 1.5rem;
        margin: 25px 0 15px 15px;
    }
    &__list{
        padding: 0;
        margin: 12px;
    }
}

.functioning li
{
    counter-increment: li;
    background: $color-background;
    height: 60px;
    margin-bottom: 15px;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    position: relative;
    &::before
    {
        content: counter(li);
        background: $color-primary;
        width: 20px;
        border-radius: 50%;
        text-align: center;
        padding: 5px;
        position: absolute;
        left: -10px;
    }
    &:hover{
        background: lighten($color-primary, 35);
        }
    i 
    {
        padding: 5px;
        
    }
}

.container
{
    background: $color-background;
    padding-bottom: 30px;

    &__title{
        padding: 25px 0 0 15px;
    }
    img{
        width: 100%;
        height: 150px;
        object-fit: cover;
        }
    figcaption{
        position: relative;
        h4{
            margin: 0;
            padding: 6px 0 5px 10px;
            }
        }
        p{
            @extend h4
        }
        i{
            position: absolute;
            right: 20px;
            top: 15px;
            font-size: 30px;
        }

    &__restaurant-card{
        background: #fff;
        margin: 15px;
        border-radius: 15px;
        overflow: hidden;
    }
}

footer{
    background: darken($color: $color-background, $amount: 70);
    padding-bottom: 30px;
    
    a{
        color: #FFF;
        &:hover{
            color: $color-secondary ;
        }
    }
    p{
        color: #FFF;
        padding: 20px 0 15px 15px;
        font-family : 'Shrikhand', cursif ;
        font-size: 1.5rem;
    }
    ul{
        padding-left: 15px;
        list-style-type: none;
    }
    li{
        margin-top: 5px;
    }
    
    i{
        @extend a;
    }
}

.bg 
{
    img{
    height: 250px;
    width: 100%;
    object-fit: cover;
    }
}


.container-menu{
    background: $color-background;
    border-radius: 30px 30px 0 0;
    position: relative;
    margin-top: -50px;

    .title{
        padding: 10px 0 20px 20px;
        font-size: 1.2rem;
        position: relative;
    
        h3{
            font-family : 'Shrikhand', cursif;
        }
        i{
            position: absolute;
            right: 20px;
            top: 16px;
        }
    }
}

.card{
    padding: 10px;
    &__menu h4 {
        border-bottom: 2px solid $color-tertiary;
        width: 40px;
    }
}

.meal{
    background: #FFF;
    border-radius: 15px;
    width: 95%;
    margin: 15px 0;
    padding: 10px;
    position: relative;
    
    p{
        font-size: 0.8rem;
        padding-top: 10px;
    }
    &__price{
        position: absolute;
        right: 10px;
        top: 15px;
        font-weight: bold;
    }
}
.order-button{
    text-align: center;
}
