@import "./Utils/variables";

*
{
    text-decoration: none;
    color: #000;
    font-family: 'Roboto', sans-serif;
}

body{
    margin: 0;
}
main{
    margin: 50px;
}
.logo, h3
{
    font-family: 'Shrikhand', cursive;
}

.logo, .search, .menu
{
    text-align: center;
}

.search
{
    background: darken($color-background, 5);
    padding: 10px;
    border-radius: 20px 20px 0 0 ;
}

input[type="search"]
{
    border: none;
    background: transparent;
    font-weight: bold;
    font-size: 1rem;
}

.menu
{
    background: $color-background;
    padding: 40px 0 40px 0;
    border-radius: 0 0 20px 20px;
    .menu_info
    {
        margin-top: 0;
        font-size: 20px;
    }
}

button
{
    background: linear-gradient($color-secondary, $color-primary);
    border-radius: 20px;
    padding: 10px;
    border: none;
    font-size: 1rem;
    margin: 5px;
    &:hover{
        font-size: 1.5rem;
        margin: 0;
        background: linear-gradient(lighten($color-secondary,10),lighten($color-primary, 10));
    }
}


.functioning
{
    &__title
    {
        text-align: center;
    }
    &__list
    {
        display: flex;
        justify-content: space-around;
        padding: 0;
    }
}

.functioning ol
{
    list-style-type: none;
}

.functioning li
{
    counter-increment: li;
    background: $color-background;
    width: 30%;
    height: 50px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    &::before
    {
        content: counter(li);
        background: $color-primary;
        display: inline-block;
        width: 30px;
        height: 30px;
        border-radius: 50%;
        text-align: center;
    }
    &:hover{
        background: lighten($color-secondary, 24);
            }
    i 
    {
        padding: 5px;
        &:hover{
            color: $color-primary;
        }
    }
}

.container
{
    background: $color-background;
    border-radius: 20px;

    &__title{
        text-align: center;
        padding-top: 25px;
    }
    &__restaurant{
           display: flex;
           flex-wrap: wrap;
           
    }
    &__restaurant-card{
        width: 50%;
        figure{
            background: #FFF;
            border-radius: 20px;
            overflow: hidden;
           
        }
        img{
        width: 100%;
        height: 250px;
        object-fit: cover;
        }
        figcaption{
            position: relative;
        }
        h4{
            margin: 0;
            padding: 10px;
            
        }
        p{
            @extend h4
        }
        i{
            position: absolute;
            right: 20px;
            top: 25px;
            font-size: 30px;
        }
    }
}

footer{
    background: #000;
    h3{
        color: #FFF;
        text-align: center;
    }
    ul{
        text-align: center;
        margin: 0;
        padding-bottom: 30px;
    }
    li{
        margin: 5px;
    }
    a{
        color: #FFF;
    }
    i{
        @extend a;
    }
}
