* {
  text-decoration: none;
  color: #000;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

header {
  margin: 0 50px;
  position: relative;
}
header a, header footer i, footer header i {
  position: absolute;
  font-size: 2.5rem;
  top: 15px;
}

main {
  margin: 0 50px;
}

.logo, h3 {
  font-family: "Shrikhand", cursive;
}

.logo, .search, .menu {
  text-align: center;
}

.search {
  background: #e2e0e0;
  padding: 10px;
  border-radius: 20px 20px 0 0;
}

input[type=search] {
  border: none;
  background: transparent;
  font-weight: bold;
  font-size: 1rem;
}

.menu {
  background: #eeeded;
  padding: 40px 0 20px 0;
  border-radius: 0 0 20px 20px;
}
.menu__info {
  margin-top: 10px;
}

button {
  background: linear-gradient(#FF79DA, #9356DC);
  border-radius: 20px;
  padding: 10px;
  border: none;
  font-size: 1rem;
  margin: 20px;
}
button:hover {
  background: linear-gradient(#fface8, #ae80e5);
}

.functioning__title {
  text-align: center;
}
.functioning__list {
  display: flex;
  justify-content: space-around;
  padding: 0;
  margin: 20px;
}
.functioning ol {
  list-style-type: none;
}

.functioning li {
  counter-increment: li;
  background: #eeeded;
  width: 20%;
  height: 50px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  position: relative;
}
.functioning li::before {
  content: counter(li);
  background: #9356DC;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  text-align: center;
  padding: 5px;
  position: absolute;
  left: -10px;
}
.functioning li:hover {
  background: #f2eafb;
}
.functioning li i {
  padding: 5px;
}

.container {
  background: #eeeded;
  border-radius: 20px;
}
.container__title {
  text-align: center;
  padding-top: 25px;
}
.container__restaurant {
  display: flex;
  flex-wrap: wrap;
  padding: 0 100px 50px 100px;
  justify-content: space-around;
}
.container__restaurant-card {
  width: 45%;
  margin: 25px;
}
.container__restaurant-card figure {
  background: #FFF;
  border-radius: 20px;
  overflow: hidden;
}
.container__restaurant-card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
.container__restaurant-card figcaption {
  position: relative;
}
.container__restaurant-card figcaption h4, .container__restaurant-card figcaption p {
  margin: 0;
  padding: 10px;
}
.container__restaurant-card i {
  position: absolute;
  right: 20px;
  top: 25px;
  font-size: 30px;
}

footer {
  background: #000;
}
footer a, footer i {
  color: #FFF;
}
footer a:hover, footer i:hover {
  color: #FF79DA;
}
footer h3 {
  color: #FFF;
  text-align: center;
  font-size: 1.5rem;
}
footer ul {
  text-align: center;
  margin: 0;
  padding-bottom: 30px;
  list-style-type: none;
}
footer li {
  margin: 5px;
}
.bg img {
  height: 550px;
  width: 100%;
  object-fit: cover;
  border-radius: 30px;
}

.container-menu {
  background: #eeeded;
  border-radius: 30px;
  position: relative;
  margin: -80px 20px 20px 20px;
}

.title {
  text-align: center;
  font-size: 1.5rem;
}

.card {
  display: flex;
  justify-content: space-around;
}
.card__menu {
  width: 25%;
}
.card__menu h4, .card__menu .container__restaurant-card p, .container__restaurant-card .card__menu p {
  border-bottom: 2px solid #99E2D0;
  width: 40px;
}

.meal {
  background: #FFF;
  border-radius: 20px;
  width: 100%;
  margin: 35px 0;
  padding: 10px;
  position: relative;
}
.meal p {
  font-size: 0.8rem;
  padding-top: 10px;
}
.meal__price {
  position: absolute;
  right: 10px;
  top: 15px;
  font-weight: bold;
}

.order-button {
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
